.tickersListBox {
  padding: 20px 0 0 20px;
  width: 53%;
}

.tickersListHeading {
  text-align: center;
}

.tickerDetailHead {
  padding: 10px 0 10px 0;
  display: flex;
  border-bottom: 1px solid #656565;
}

.tickerDetailHead_item {
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:not(:last-child) {
    margin-right: 20px;
  }
}

.tickersList {
  padding: 10px 0;
}
