.tickerListItem {
  margin-bottom: 10px;
  border-bottom: 1px solid #dddddd;
}

.tickerDetailsList {
  display: flex;
}

.tickerDetail_ticker {
  display: flex;
  width: 70px;
  height: 25px;
  justify-content: center;
  align-items: center;
  background-color: #005e08;
  border-radius: 20px;
  color: #fff;
  font-weight: 700;
}

.tickerDetailsList_item {
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  margin-left: 20px;
}

.tickerDetailsList_delete {
  margin-left: 5px;
  outline: none;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-image: url(../../img//delete-icon.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  transition: all 250ms linear;

  &:hover {
    cursor: pointer;
    background-color: #d44242;
    transform: scale(1.1);
  }
}
